.header 
    background-color #d290ff
    padding-top 1rem
    &-inner
        display flex
        justify-content space-between
        .header-nav
            display flex
            .header-ul
                display flex
                justify-content space-between
                .header-li
                    margin-left 25px
        .btn-light
            width: 10em;
            height: 3em;