.header 
    background-color #d290ff
    padding-top 1rem
    &-inner
        display flex
        justify-content space-between
        .header-nav
            .header-ul
                display flex
                justify-content space-between
                .header-li
                    margin-left 5px
        .btn-light
            border-radius 1em