section
    .container 
        .header 
            .header-inner 
                .header-icon 
                    p icon
                nav.header-nav 
                    ul.header-ul
                        li.header-li Home
                        li.header-li About Us
                        li.header-li Services
                        li.header-li Blog
                        li.header-li Portfolio
                        li.header-li Contact Us
                button.btn.btn-light(type='submit') Contac Us