section.section 
    .container
        .about
            .about-inner 
                p These Compainess Trust Us
                h3.title 
                .slider  
                .about-info
                    img.about-img(src="", alt="alt") 
                    .about-text
                        h4 
                        p 
                        p 
                        p  
                        p  
                        button.btn.btn-light(type='submit') Submit