section.section 
    .container
        .about
            .about-inner 
                .about-description
                    p.subtitle These Compainess Trust Us
                    h2.title With Their Marketing
                .slider  
                .about-info 
                    .about-left
                        img(src="http://via.placeholder.com/400x500", alt="alt")
                    .about-right
                        h4.about-h4 About Us
                        p.about-p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto, voluptatem.
                        p.about-p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur reprehenderit eveniet cum voluptate nisi veritatis?
                        p.about-p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores, beatae. Consequuntur voluptatibus atque similique aliquid.
                        p.about-p Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur suscipit officiis, dolores recusandae itaque id!
                        button.btn.btn-light(type='submit') LET'S TALK!