section.section.blogs-bgc
    .container 
        .blogs
            .blogs-inner 
                .blogs-description
                    p.subtitle Our Blogs
                    h2.title Our Blog and Article
                .blogs-slider 
                    .blogs-item 
                        img.blogs-img(src="https://picsum.photos/300/200", alt="alt")  
                        p.blogs-p August 27, 2020 <br> Web Design Project <br> UX/UI Design
                    .blogs-item 
                        img.blogs-img(src="https://picsum.photos/300/200", alt="alt")  
                        p.blogs-p August 27, 2020 <br> Web Design Project <br> UX/UI Design
                    .blogs-item 
                        img.blogs-img(src="https://picsum.photos/300/200", alt="alt")  
                        p.blogs-p August 27, 2020 <br> Web Design Project <br> UX/UI Design
                    .blogs-item 
                        img.blogs-img(src="https://picsum.photos/300/200", alt="alt")  
                        p.blogs-p August 27, 2020 <br> Web Design Project <br> UX/UI Design