section.section 
    .container 
        .cards
            .cards-inner 
                .cards-description
                    p.subtitle We are a digital agency
                    h2.title Experts Services To Change Business
                .grid-container
                    .first.card-item 
                        .card-img
                        .card-text 
                            p Lorem, ipsum.
                            p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum, quae.
                    .secon.card-item 
                        .card-img
                        .card-text 
                            p Lorem, ipsum.
                            p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum, quae.
                    .third.card-item 
                        .card-img
                        .card-text 
                            p Lorem, ipsum.
                            p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum, quae.
                    .fourt.card-item 
                        .card-img
                        .card-text 
                            p Lorem, ipsum.
                            p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum, quae.
                        
