section.section 
    .container
        .main
            .main-inner
                .main-left 
                    h2 We help to
                    h1 Solve Clients 
                    h2 Problems
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla, eius!
                    button.btn.btn-light(type='submit') Submit 
                .main-right 
                    .main-img(src="", alt="alt")