section.section.portfolio-bgc
    .container 
        .portfolio
            .portfolio-inner 
                .portfolio-description
                    p.subtitle These Compainess Trust Us
                    h2.title With Their Marketing
                .portfolio-slider 
                    .portfolio-item 
                        img.portfolio-img(src="https://picsum.photos/300/200", alt="alt")  
                        p.portfolio-p Web Design Project <br> UX/UI Design
                    .portfolio-item 
                        img.portfolio-img(src="https://picsum.photos/300/200", alt="alt")  
                        p.portfolio-p Web Design Project <br> UX/UI Design
                    .portfolio-item 
                        img.portfolio-img(src="https://picsum.photos/300/200", alt="alt")  
                        p.portfolio-p Web Design Project <br> UX/UI Design
                    .portfolio-item 
                        img.portfolio-img(src="https://picsum.photos/300/200", alt="alt")  
                        p.portfolio-p Web Design Project <br> UX/UI Design