section.section 
    .container 
        .services 
            .services-inner 
                .services-description
                        p.subtitle Digital Marketing Agency and Development
                        h2.title Company Website Design Full Services
                .services-content 
                    .services-items
                        .services-item
                            h3.services-h3 16K
                            p.services-p Clients
                        .services-item
                            h3.services-h3 189+
                            p.services-p Team Members
                        .services-item
                            h3.services-h3 13K
                            p.services-p Active Work