footer.footer
    .container
        .footer-inner
            .footer-description
                img(src="https://picsum.photos/300/200", alt="alt")
                h2.title Like Our Service? Subscribe Us
                p.subtitle Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, veritatis repellat!
                button.btn.btn-light(type='submit') Subscribe
            .footer-bottom