footer.footer
    .container
        .footer-inner
            .footer-description
                img.footer-img(src="http://via.placeholder.com/300x200", alt="alt")
                h2.title Like Our Service? Subscribe Us
                p.subtitle Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, veritatis repellat!
                button.btn.btn-light(type='submit') Subscribe
            .footer-bottom
                .footer-item
                    img(src="", alt="")
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus cupiditate beatae esse officiis? Natus, repellat pariatur veritatis debitis maiores molestias!
                .footer-item
                    .item-aspect-0
                        p Company
                    .item-aspect-1
                        .item-row-0
                            p About Us
                            p Contact Us
                            p Careers
                            p Support
                        .item-row-1
                            p FAQ
                            p Terms
                            p Privacy
                            p Blog 
                .footer-item
                    p.footer-detail Contact
                    p Phone: +1 605 722 2032
                    p Email: exampe@mail.com
                    p Adress: Charlotee, North Carolina, United States
            .footer-link
                .footer-soc 
                    img.soc-img(src="/img/icon/facebook.svg", alt="facebook")
                    img.soc-img(src="/img/icon/twitter.svg", alt="twitter")
                    img.soc-img(src="/img/icon/instagram.svg", alt="instagram")
                    img.soc-img(src="/img/icon/youtube.svg", alt="youtube")
                .footer-allright
                    p с 2020 - All Rights Reserved