.header 
    .header-inner
        display flex
        justify-content space-between
        .header-ul
            display flex
            justify-content space-between
            .header-li
                margin-left 5px
        .btn-light
            border-radius 1em

