.about
    &-inner 
        .about-info
            display grid
            grid-template-columns 1fr 1fr
            .about-right
                display grid
                justify-items left
                line-height 20px
                .about-p
                    width 25em
                .btn-light
                    border-radius 2em
                    width 12em
                    height 3em
                    margin-top 3em