.blogs-bgc
    background-color #956ae1
    .blogs
        .blogs-inner
            .blogs-slider
                display grid
                grid-template-columns repeat(4, 1fr)
                grid-gap 2em
                .blogs-item
                    background-color #b28af8
                    border-radius 2em
                    .blogs-img
                        margin-bottom 1em
                    .blogs-p
                        line-height 2em
                        margin 2em 