.blogs-bgc
    background-color #a662d4
    .blogs
        .blogs-inner
            .blogs-slider
                display grid
                grid-template-columns repeat(4, 1fr)
                grid-gap 2em
                .blogs-item
                    background-color #d290ff
                    border-radius 2em
                    .blogs-img
                        margin-bottom 1em
                    .blogs-p
                        line-height 2em
                        margin 2em 