.cards-bgc
    background-color #a662d4
    .cards
        .cards-paragraph    
            display grid
        .grid-container 
            display grid
            grid-template-columns 1fr 1fr
            grid-template-rows 1fr 1fr
            gap 25px
            .card-item
                padding 50px 20px
                background-color #d290ff
                border-radius 1em
