.main
    &-inner
        display grid
        grid-template-columns 1fr 1fr
        // grid-gap 10em
        .main-left 
            .main-h1
                margin 0.2em 0
            .main-p
                margin 3em 0
        .main-right 
            display grid
            justify-items right

