.portfolio-bgc
    background-color #a662d4
    .portfolio
        .portfolio-inner
            .portfolio-slider
                display grid
                grid-template-columns repeat(4, 1fr)
                grid-gap 2em
                .portfolio-item
                    background-color #d290ff
                    border-radius 2em
                    .portfolio-img
                        margin-bottom 1em
                    .portfolio-p
                        line-height 2em
                        text-align center
                        margin 2em 0 