.services
    &-inner
        .services-content 
            .services-items
                display grid
                grid-template-columns repeat(3, 1fr)
                justify-items center

                background-color #a662d4
                border-radius 9em
                padding 2em
                .services-item
                    .services-h3
                        font-weight 700
                        font-size 6em
                    .services-p
                        text-align center
                        font-size 1.5em
